:root{
    --color-background: #EEEDF3;
	--color-foreground: 0, 0, 0;
    --header-height: 89px;
    /* --header-height: 89px; */
    --header-bottom-position: 89px;
    --viewport-height: 824px;
	--duration-default: .2s;
	--btn-height: 25px; /* Ajusta al tamaño real del label/menu */
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}

.menu {
  position: fixed;
  width: 100%;
    height: var(--header-height);
	background-color: var(--primary-color);
    display: grid;
    grid-template-areas: "left-icons heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
	justify-items: center;
}


.container-menu{
	height: var(--header-height);
}


#btn_menu{
    display: none;
}
.btn_menu{
	position: absolute;
	top: calc((var(--header-height) / 2) - (var(--btn-height) / 2));
}

.btn_menu {
	width: 30px;
	height: 25px;
}
/*Transicion menu burguer*/
.btn_span {
	position: absolute;
	top:0;
	width: 30px;
	height: 3px;
	background: var(--color-background);
	transition: all .3s ease;
}
.btn_span:nth-child(2) {
	top: 10px;
}
.btn_span:nth-child(3) {
	top: 20px
}
#btn_menu:checked ~ .btn_menu #btn_span_1 {
	top: 10px;
	transform: rotate(45deg);
}
#btn_menu:checked ~ .btn_menu #btn_span_2{
	opacity: 0;
}
#btn_menu:checked ~ .btn_menu #btn_span_3{
	top:10px;
	transform: rotate(-45deg);
}

.menu-container__navigation{
	height: calc(100vh - 100%);
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    position:absolute;
	/* z-index: 2; */
    top: var(--header-height);
	left:-100%;
	width:100%;
    background:var(--color-background);
	transition: left var(--duration-default) ease;
	display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
    /* height: 100%; */
	padding: 3rem 0;
}

#btn_menu:checked ~ .menu-container__navigation{
	left:0;
	transition: left var(--duration-default) ease;
}

/* .menu-nav, .menu-utility-links{
	padding: 20px;
	
} */
.list-menu__item{
	padding: 1.1rem 3rem;
    text-decoration: none;
    /* font-size: 1.8rem; */
	color: var(--primary-color);
}
.list-menu__item{
	display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.list-menu__item:hover{
	background-color: rgba(var(--color-foreground),.03);
}

.list-social{
	display: flex;
}
.menu-utility-links ul{
	background-color: rgba(var(--color-foreground),.03);
}
.menu-utility-links .icons svg{
	fill: var(--primary-color);
}
.menu-utility-links .icons{
	    padding: 1.1rem;
}
@media screen and (min-width: 750px) {
	.menu-container__navigation{
		width: 25rem;
	}
}