
@font-face {
  font-family: 'tropika';
  src: url('fonts/tropika-island-int.otf') format('truetype');
}

@font-face {
  font-family: 'bricolage';
  src: url('fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}

*::after
*::before

*{
    box-sizing: border-box;
}

h1{font-size: 3em; font-family:"tropika";}
h2{font-size: 1.5em; font-family: "bricolage";}
h3{font-size: 1em; font-family: "bricolage";}
p{font-size: 1.2em;font-family: "bricolage";}
ul{list-style: none;}
li{font-size: 1.25em;}

h1, h2, h3{
  text-align: center;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    margin: 03;
    /* max-width: 1200px; */
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
  width: 100%;
}

.carrito {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  /* position: fixed;       */
  /* top: 20px;            
  right: 20px;         
  z-index: 1000;         */
}
.flex{
  display: flex; justify-content: space-around; 
}
.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #778469;
  width: 100%;
}

.menu a{
  color: white;
  text-decoration: none;
  font-family:"tropika";
  font-size: 2em;
}

.buttons{
display: flex;
justify-content: space-evenly;
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: solid;
    box-shadow: 1px 1px 5px ;
    color: black;
     background-color:rgb(197, 199, 171)
}

button:hover{
     background-color:rgb(202, 218, 164)
}

.container{
    max-width: 1400px;
    margin: auto;
}

.banner{
  width: 100%;
}

.logo{
  width: 120px;
  height: auto;
  float: left;  
}

header, main{
  width: 80%;
}

.container-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#tarjeta{
  width: 400px;
}


.contenedor-productos{
  margin-top: 30px;
  width: 40%;
  height: 400px;
  background-color: rgb(241, 236, 229);
  border-radius: 20px;
  box-shadow: 0 0 10px 2px grey;
}
.contenedor-productos:hover{
  transform: scale(1.05);
}

.newsletter{
  padding: 30px 15px;
  text-align: center;
}

.newsletter input[type="email"] {
  padding: 8px;
}



#products-container{
  background-color: red;
}
.product-data{
  display: flex;
}